NEXT_PUBLIC_FIREBASE_API_KEY=AI...
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=japaneseauth.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=japaneseauth
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=japaneseauth.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=549353833304
NEXT_PUBLIC_FIREBASE_APP_ID=1:549353833304:web:edcfbf9e08b98ab846db2d
